/* font-family: 'Archivo', sans-serif;
Extra-light 200
Light 300 italic
Regular 400
Bold 700
*/

/* .App {
  text-align: center;
} */


h1,h2,h3,a, p {
  font-family: 'Archivo', sans-serif;
}

.App-logo {
  height: 40vmin;
  color:white;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #F2CB05;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon__navbar{
  fill:rgba(0,0,0,.55);

}

.card__product{
width: 18rem;
/* height: 10rem; */
}
/* .card__img{

} */
.card__product--category{
font-size: 0.5rem;
color:grey
}
.card__product--title{
  font-size: 2rem;
  color:black;
}
.card__product--price{
  font-size: 2rem;
  font-weight: 400;
}
.card__product--text{
  font-size: 1rem;
  color: grey
}

.product__content_title{
font-weight: 700;
}

.product__content_price{
  font-weight: 700;
  color:blueviolet;

  }

.product__content_detail{
font-weight: 300;
font-size: 1.1rem;
}
/* .product__content_img{
  width: 10rem;
} */

.product__content_stock{
  width: 10rem;
  height: 2.5rem;
}
.product__content_imgCart{
  width: 10rem;
}

.buttonCart{
  width: 3rem;
}

.icon404{
  width: 25rem;
  height: 25rem;
}
.contenedor404{
  width: 100vw;
  height: 100vh;
}